<div class="j-center">
    <div>
        <div class="">
            <div class="thisIs">Esto es una</div>
            <div class="discotec">Discoteca</div>
            <div class="nowSee">Ahora me ves</div>
            <div class="nowNo">Ahora no</div>
        </div>
        <div class=" d-center">
            <div class="cuadrado d-center">BOOM</div>    
        </div>
    </div>

</div>
<!-- <div class="canasta">
</div> -->
<div class="canasta">
    <div class="pelotaTres d-center" id="pelotaTres">YOOOOO</div>
    <div class="pelotaDos d-center">Mundo</div>
    <div class="pelotaCuatro d-center">Pelota</div>
</div>
<div class="canasta">
    <div class="pelota d-center">Pelota</div>
</div>
