<h1>Rutas y lazyLoad App con animaciones</h1>
<ul>
  <li>
    <a routerLink="/basic/hover">Basic</a>
  </li>
  <li>
    <a routerLink="/basic/canasta">Canasta</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/basic/prueba/ejemplo">Tranformaciones</a>
  </li>
  <li>
    <a routerLink="/basic/prueba/prueba">Prueba</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/intermedio/primero">Primero</a>
  </li>
  <li>
    <a routerLink="/intermedio/segundo">Segundo</a>
  </li>
</ul>
<router-outlet></router-outlet>
