<div class="j-center">
  <div class="marco d-center">
    <div class="cuadrado uno d-center">top</div>
    <div class="cuadrado dos d-center">left</div>
    <div class="cuadrado tres d-center">bottom</div>
    <div class="cuadrado cuatro d-center">right</div>
    <div class="cuadrado cinco d-center">top lef</div>
    <div class="cuadrado seis d-center">top right</div>
    <div class="cuadrado siete d-center">door</div>
    <div class="cuadrado ocho d-center">door</div>
  </div>
</div>
<!-- <div class="j-center">
    <div class="marco d-center">
      <div class="cuadrado uno d-center">top</div>
      <div class="cuadrado dos d-center">left</div>
      <div class="cuadrado tres d-center">bottom</div>
      <div class="cuadrado cuatro d-center">right</div>
      <div class="cuadrado cinco d-center">top lef</div>
      <div class="cuadrado seis d-center">top right</div>
    </div>
  </div> -->